body {
    background-image: url('../images/bg/vintage-concrete.png');
}

.jumbotron {
    background-image: url('../images/header/pyramids7.png');
    height: 450px;
    color: white;
    margin-bottom: 0px;
}

.trivia-jumbotron-container {
    margin-bottom: 0px;
}

.jumbotron-content {
    text-align: center;
    line-height: 2em;
}

button.trivia-buttons:hover {
    background-color: darkgreen;
}

#trivia-game-footer {
    color: maroon;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.trivia-game-navbar {
    margin-bottom: 0;
}

.trivia-img-padding {
    margin-bottom: 50px;
}

.trivia-hints-box {
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    margin-right: 50px;
    margin-left: 10px;
    margin-bottom: 100px;
    padding-top: 20px;
    height: 500px;
}

.trivia-question-box {
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 100px;
    padding-top: 20px;
    height: 500px;
    width: 700px; 
}

.trivia-hints-header {
    color: maroon;
    margin-bottom: 20px;
}

.trivia-buttons {
    background-color: maroon;
    border: none;
}

.trivia-game-container {
    margin-top: 100px;
    margin-left: 300px;
}

.trivia-timer-container {
    margin-top: 0px;
}

.trivia-timer-header {
    background-color: white;
    margin-top: 0rem;
}

#trivia-timer-text {
    color: maroon;
    text-align: center;
    line-height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}